.vscode/**
.vscode-test/**
src/**
.gitignore**
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/.gitignore
**/.prettierrc
**/vitest.config.ts
tests/**
node_modules/**
.git/**
.DS_Store
pnpm-lock.yaml
SETUP.md
esbuild.config.js
test.css
*.vsix
out/**
!out/extension.js
